@import 'scss/variables/_sizes.scss';
@import '_colors.scss';

$shadow: 0 0 7px 0 rgba(122, 122, 122, 0.81);

.showMessage {
  align-items: center;
  background-color: $topbar-background;
  bottom: 0;
  box-shadow: $shadow;
  display: flex;
  flex-direction: row;
  height: 50px;
  justify-content: center;
  position: absolute;
  width: 100%;
}

.hiddenMessage {
  display: none;
}

.logo {
  height: calc(#{$topbar-heigth} - 40px);
}
