.container {
  align-self: center;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.wrapper {
  align-content: flex-end;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}
