@import 'scss/variables/_sizes.scss';
@import '_colors.scss';

.container {
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
  width: 100%;
  max-width: 600px;
  background-color: $black;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 2px 64px $box-color;
}

.recordTitle {
  padding-left: 12px;
  display: flex;
  flex-direction: column;
  height: 70px;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  background-color: $gray;
  color: $disabled-gray;
  font-size: 25px;
  font-weight: 300;
}

.operations {
  min-height: 3px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-end;
  background-color: $plain-white;
}

.op {
  display: flex;
  flex-direction: row-reverse;
  flex: 0 0 100%;
  width: 100%;
  appearance: none;
  border: 0;
  padding: 15px;
}

.recToCalcdButton {
  display: flex;
  align-items: flex-start;
  appearance: none;
  border: 0;
  background-color: $gray;
  padding: 12px;
  width: 100%;
  color: $disabled-gray;
  font-size: 20px;
  font-weight: 300;
}
